:root {
    --color-principal: #000030;
    --color-secundario: #58626b;
    --color-terciario:#eaeff2;
    --color-azul:#243799;
    --color-fondo: #fff;
    --color-texto1: #fff;
    --color-texto2: #c2cbd8;
    --color-texto3:#0D1B2A;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-fondo);
    /* background-image: url(../img/bg.avif);
    background-size: cover;
    background-attachment: fixed; */
    color: var(--color-texto3);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}