
:root {
    --color-principal: #000030;
    --color-secundario: #58626b;
    --color-terciario:#eaeff2;
    --color-azul:#1E2A38;
    --color-verde:#34A853;
    --color-amarillo:#FFC72C;
    --color-fondo: #fff;
    --color-texto1: #fff;
    --color-texto2: #bebebe;
    --color-texto3:#0D1B2A;

     /* Paleta de colores */
    --solar: #FFC72C; /* Amarillo brillante para energía solar */
    --hidrogeno: #00B4D8; /* Azul claro para energía del agua/hidrógeno */
    --geotermica: #9D4EDD; /* Morado para energía geotérmica */
    --bioenergia: #2ECC71; /* Verde para bioenergía */
    --eolica: #3498DB; /* Azul para energía eólica */
    --hidroelectrica: #1ABC9C; /* Verde azulado para energía hidroeléctrica */

    --oscuro: #2b3f56; /* Color principal oscuro para texto y elementos */
    --claro: #e7f2fe; /* Fondo claro */
    --blanco: #ffffff;
    
    --gris-suave: #6c757d; /* Gris suave para textos secundarios */
    --gris-azulado-muy-claro: #f8f9fa; /* Un blanco ligeramente azulado/grisáceo */
    --gris-claro-bordes: #ced4da;
    --gris-texto-suave: #6c757d;


    --primario: var(--solar); /* Color principal para botones y acentos */
    --secundario: var(--oscuro); /* Color secundario */

    /* Sombras */
    --sombra-suave: 0 2px 4px rgba(0, 0, 0, 0.075);
    --sombra-media: 0 5px 15px rgba(0, 0, 0, 0.1);
    --sombra-profunda: 0 10px 30px rgba(0, 0, 0, 0.1);
    --sombra-interna-input: inset 0 1px 2px rgba(0,0,0,.075);


    /* Tipografía */
    --fuente-principal: 'Poppins', sans-serif; /* Asegúrate de importarla o tenerla disponible */
    --tamano-base-fuente: 16px; /* Para usar con rem */

    /* Bordes */
    --radio-borde-suave: 0.25rem; /* 4px */
    --radio-borde-medio: 0.5rem; /* 8px */

    /* Transiciones */
    --transicion-rapida: all 0.2s ease-in-out;
    --transicion-media: all 0.3s ease-in-out;

    --sombra: 0 2px 5px rgba(0,0,0,0.1);
    --borde-radius: 10px;
    --fuente: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}
/* Estilo General */
*{
    font-family: var(--fuente);
}

/* Rest html */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-fondo);
    color: var(--color-texto3);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 70px;
}


/* Estilo General */

    .boton {
        display: inline-block;
        padding: 0.75rem 1.5rem; /* 12px 25px */
        background-color: var(--primario);
        color: var(--oscuro);
        text-decoration: none;
        border-radius: var(--radio-borde-suave);
        font-weight: bold;
        transition: background-color var(--transicion-media), transform var(--transicion-media), box-shadow var(--transicion-media);
        border: none;
        cursor: pointer;
        font-size: 1.6rem; /* 25.6px */
        text-align: center;
        box-shadow: var(--sombra-suave);
    }
/* 
    .boton:hover, .boton:focus {
        outline: none;
        transform: translateY(-2px);
        box-shadow: var(--sombra-media);
    } */

    .botones-pagina-1 {
        display: flex;
        gap: 1rem; /* 16px */
        justify-content: center;
        flex-wrap: wrap;
    }

    .botones-pagina-1 .boton {
        min-width: 11.25rem;
        text-align: center;
        border-radius: var(--radio-borde-medio);
    }

    .botones-pagina-1 .boton:hover {
        background-color: var(--color-texto3);
        color: var(--color-texto1);
        transition: background-color 0.3s, color 0.3s;
    }

    
    .boton-2 {
        display: inline-block;
        padding: 0.75rem 1.5rem; /* 12px 25px */
        background-color: var(--color-fondo);
        color: var(--oscuro);
        text-decoration: none;
        border-radius: var(--radio-borde-suave);
        font-weight: bold;
        transition: background-color var(--transicion-media), transform var(--transicion-media), box-shadow var(--transicion-media);
        border: none;
        cursor: pointer;
        font-size: 1.6rem; /* 25.6px */
        text-align: center;
        box-shadow: var(--sombra-suave);
    }

    .boton-2:hover, .boton-2:focus {
        outline: none;
        transform: translateY(-2px);
        box-shadow: var(--sombra-media);
    }

    .botones-pagina-2 {
        justify-content: center;
    }

    .botones-pagina-2 .boton-2 {
        min-width: 11.25rem;
        text-align: center;
        border-radius: var(--radio-borde-medio);
    }

    .botones-pagina-2 .boton-2:hover {
        background-color: var(--primario);
        color: var(--oscuro);
        transition: background-color 0.3s, color 0.3s;
    }


    .boton-secundario {
        background-color: var(--oscuro);
        color: var(--blanco);
        margin: 0 15px;
    }

    .boton-secundario:hover, .boton-secundario:focus {
        background-color: #38577e; /* Un tono más claro de --oscuro */
    }

/* Estilo General */

/* Inicia Código Header */

    /* Barra de navigacion Principal Logo + items de menu + toggler */
    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6) !important;
        backdrop-filter: blur(4px);
        z-index: 10;
        padding: 5px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Clase de subnav de items del menu (etiqueta ul) */
    .navbar-nav {
        display: flex;
    }

    /* Separacion de items del menu (etiqueta li) */
    .navbar-nav .nav-item {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Clase de items del menu (etiqueta a) */
    .navbar-nav .nav-link {
        position: relative;
        color: var(--color-texto2);
        text-decoration: none;
        padding: 8px 20px;
        transition: color 0.3s ease;
    }
    /* Clase de efecto de items del menu (etiqueta a) */
    .navbar-nav .nav-link:hover{
        color: var(--color-amarillo);
    }

    /* Linea de efecto subrayado a items del menu (etiqueta a) */
    .navbar-nav .nav-link:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: var(--color-amarillo);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
    }
    /* Linea de efecto subrayado al pasar por encima de un item del menu (etiqueta a) */
    .navbar-nav .nav-link:hover:after {
        transform: scaleX(1);
        background-color: var(--color-amarillo);
    }

    /* Clase estilo item del menu (etiqueta a) Menu Activo */
    .navbar-nav .nav-link.active {
        color: var(--color-amarillo);    
        transition: color 0.3s;
    }
    /* Linea de efecto subrayado al pasar por encima de un item del menu (etiqueta a) Menu Activo */
    .navbar-nav .nav-link.active:after {
        transform: scaleX(1);
        background-color: var(--color-amarillo);
    }


    /* Reset a estilos de Bootstrap a icono hamburguesa del menu en tablets y móviles */
    .navbar-toggler {
        padding: 12px 4px;
    }

    /* Diseño de botón para menu desplegable en tablets y móviles (línea central) */
    .hamburguesa {
        width: 28px;
        height: 3px;
        background-color: var(--color-texto1);
        display: block;
        position: relative;
        transition: all 0.3s ease;
    }

    /* Diseño de botón para menu desplegable en tablets y móviles (líneas superior e inferior) */
    .hamburguesa::before,
    .hamburguesa::after {
        content: "";
        position: absolute;
        height: 3px;
        background-color: var(--color-texto1);
        transition: all 0.3s ease;
    }

    /* Diseño de botón para menu desplegable en tablets y móviles (línea superior) */
    .hamburguesa::before {
        width: 28px;
        top: -8px;
        left: 0;
    }

    /* Diseño de botón para menu desplegable en tablets y móviles (línea inferior) */
    .hamburguesa::after {
        width: 28px;
        bottom: -8px;
        left: 0px;
    }

/* Termina Código Header */

/* Inicio estilo general sub paginas */

    .titlePage{
        background-image: url(../img/slide/slide-01-placas-solares-campo.jpg);
        position: relative;
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
        padding: 120px 0 40px 0;

    }
    .titlePage::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }
    .titlePage h1 {
        position: relative;
        z-index: 1;
        color: var(--color-amarillo);
        text-align: center;
        font-weight: 600;
    }
    .titlePage p {
        position: relative;
        z-index: 1;
    }
    .titlePage a {
        position: relative;
        z-index: 1;
        color: var(--color-texto1);
        text-decoration: none;
        transition: all 0.3s ease;
    }
    .titlePage a:hover {
        color: var(--color-amarillo);
    }
    .titlePage p > span {
        color: var(--color-texto2);
    }

/* Fin estilo general sub paginas */

/* -------------------- */
/* Inicio Estilo pagina Inicio */
/* -------------------- */

.image-about {
    padding-top: 20px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

/* Inicio Resumen del proyecto EcoVolt */

.contenido-bienvenida p {
    font-size: 1.8rem; /* ~17.6px */
    margin-bottom: 1rem; /* 16px */
}


.titulo-seccion {
    font-size: 2.5rem; /* 40px */
    color: var(--oscuro);
    text-align: center;
    font-weight: bold;
}

/* Inicio Resumen del proyecto EcoVolt */

/* call-to-action */

.call-to-action {
    background-image: url(../img/bg-call-to-action.jpg);
    background-attachment: fixed;
    background-position: center center;    
    background-color: var(--gris-azulado-muy-claro);
    padding: 70px;
    border-radius: var(--radio-borde-medio);
    text-align: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.call-to-action::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.call-to-action .container {
    position: relative;
    z-index: 2;
}

.call-to-action h2 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--oscuro);
    margin-bottom: 1.25rem; /* 20px */
    
}
.call-to-action p {
    font-size: 2.2rem; /* ~25.6px */
    color: var(--gris-claro-bordes);
    margin-bottom: 1.875rem; /* 30px */
}

/* call-to-action */

/* Inicio sección de datos históricos */

/* Tarjetas Históricos */
.tarjeta-historicos {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjeta-historicos:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.tarjeta-historicos i {
    font-size: 2rem;
    color: #fbc02d; /* amarillo solar */
    background-color: #fff8e1; /* fondo suave */
    border-radius: 50%;
    padding: 1rem;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.tarjeta-historicos:hover i {
    transform: scale(1.1);
}

.tarjeta-historicos h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 0.75rem;
}

.tarjeta-historicos p {
    font-size: 1.3rem;
    color: #555555;
    margin-bottom: 1.5rem;
}

/* Fin  sección de datos históricos */



/* Inicio Estilo de Calculadora */
    /* Calculadora de Ahorro Energético */
    .seccion-calculadora {
        background-color: var(--gris-azulado-muy-claro);
    }

    .tarjeta-calculadora {        
        display: flex;
        flex-direction: column;
        background-color: var(--blanco);
        border-radius: var(--radio-borde-medio);
        box-shadow: var(--sombra-media);
    }

    .tarjeta-calculadora h3 {
        color: var(--oscuro);
        text-align: center;
        font-weight: bold;
        font-size: 22px;
    }

    .caja-resultados {
        margin-top: 1.875rem; /* 30px */
        padding: 1.25rem; /* 20px */
        background-color: #e9ecef; /* Un gris más claro para resultados */
        border-radius: var(--radio-borde-suave);
        border-left: 5px solid var(--primario);
    }

    .caja-resultados h3 {
        text-align: left;
        margin-bottom: 1rem; /* 16px */
        color: var(--oscuro);
    }

    .caja-resultados p {
        margin-bottom: 0.625rem;
        color: #333;
    }

    .caja-resultados .error {
        color: #ff394c; /* Rojo Bootstrap para errores */
        font-weight: bold;
    }
    .caja-resultados .texto-pequeno {
        color: var(--gris-texto-suave);
    }
    .caja-resultados .texto-advertencia {
        color: #fd7e14; /* Naranja para advertencias */
    }

    .grupo-formulario input, .grupo-formulario textarea, .grupo-formulario select {
        padding: 10px ; /* 10px */
        font-size: 14px;
    }

    .resultado-listo {
        background-color: #d4edda;
        border-left: 5px solid #28a745;
        color: #155724;
    }

    .alerta-error {
        background-color: #f8d7da; /* rojo claro */
        border-left: 5px solid #dc3545; /* rojo oscuro */
        padding: 1rem;
        color: #842029;
        font-weight: 500;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
    }

    .alerta-exito {
        background-color: #d1e7dd;
        border-left: 5px solid #198754;
        padding: 1rem;
        color: #0f5132;
        font-weight: 500;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
    }

    /* Calculadora */
#resultado {
    transition: all 0.5s ease;
    opacity: 0;
    transform: translateY(20px);
}
#resultado.mostrar {
    opacity: 1;
    transform: translateY(0);
}

/* Fin Estilo de Calculadora */

/* Inicio - Cinco pasos para energía solar */

    /* Sección de Características */
    .seccion-caracteristicas {
        background: linear-gradient(to right, var(--oscuro), var(--eolica));
        color: var(--blanco);
        text-align: center;
    }

    .seccion-caracteristicas h2, .seccion-caracteristicas .subtitulo-seccion {
        color: var(--blanco);
        font-size: 2.5rem;
    }

    .tarjeta-caracteristica {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: var(--radio-borde-medio);
        box-shadow: none; /* Quitar sombra si el fondo ya es oscuro */
        transition: transform var(--transicion-media), background-color var(--transicion-media);
        border: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil */
    }

    .tarjeta-caracteristica:hover, .tarjeta-caracteristica:focus-within { /* :focus-within para accesibilidad */
        transform: translateY(-8px);
        background-color: rgba(255, 255, 255, 0.15);
    }

    .tarjeta-caracteristica i {
        font-size: 3.5rem; /* 56px */
        color: var(--primario);
        margin-bottom: 1.25rem; /* 20px */
    }

    .tarjeta-caracteristica h3 {
        margin-bottom: 1rem; /* 16px */
        color: var(--blanco);
    }

    .tarjeta-caracteristica p {
        font-size: 1.3rem;
        color: #f0f0f0;
    }

/* Fin - Cinco pasos para energía solar */

/* Sección de Mapa */

.title-mapa {
    color: var(--oscuro);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.25rem; 
}
.title-mapa i {
    color: var(--primario);
}

    #mapaColombia {
        border-radius: 0px;
        padding: 0;
        margin: 0;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        z-index: 1;
    }

    .leaflet-popup-content {
        font-size: 14px;
    }

    .leaflet-popup-content strong {
        font-size: 16px ;
    }

    .contenedor-mapa-pequeno { /* Para contacto.html */
        height: 22rem; /* 350px */
        width: 100%;
        border-radius: var(--radio-borde-medio);
        box-shadow: var(--sombra-suave);
        overflow: hidden; /* Importante para Leaflet */
    }

    .contenedor-mapa-grande { /* Para energia-solar.html */
        height: 28rem; /* 450px */
        width: 100%;
        border-radius: var(--radio-borde-medio);
        box-shadow: var(--sombra-media);
        overflow: hidden; /* Importante para Leaflet */
    }
    .leyenda-mapa {
        padding: 6px 8px;
        background: white;
        background: rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
        font-size: 16px;
        line-height: 1.4;
    }
    .leyenda-mapa h4 {
        margin: 0 0 8px;
        color: #333;
        font-size: 1.1em;
    }
    .leyenda-mapa i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
        border: 1px solid #555;
    }

/* Fin Sección de Mapa */


/* ----------------- */
/* Fin Estilo pagina Inicio */
/* ----------------- */






/* ------------------------------------ */
/* Inicio Código Footer - Pie de Página */
/* ------------------------------------ */
.pie-pagina {
    background-color: var(--oscuro);
    color: var(--claro);
}


.marca-pie-pagina img {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;   
    margin-bottom: 20px;
}

.marca-pie-pagina p {
    color: #ccc; /* Un gris claro */
}

h3.title-footer{
    margin-bottom: 1.2rem; /* 20px */
    color: var(--primario);
    font-size: 1.8rem; /* 28px */
    font-weight: 600;
}

ul.menu-footer, ul.contact-footer {
    list-style: none;
    padding: 0;
}

ul.menu-footer li, ul.contact-footer li {
    margin-bottom: 0.625rem; /* 10px */
}

ul.menu-footer li a, ul.contact-footer li a {
    color: #ccc;
    text-decoration: none;
    transition: color var(--transicion-media);
}

ul.contact-footer li a:hover, ul.menu-footer li a:focus, ul.menu-footer li a:hover, ul.menu-footer li a:focus, ul.menu-footer li a.active {
    color: var(--primario);
    outline: none;
}

ul.menu-footer i, ul.contact-footer i  {
    margin-right: 10px;
}

.base-pie-pagina {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1.25rem; /* 20px */
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem; /* 16px */
}

.base-pie-pagina p {
    color: #aaa; /* Un gris más oscuro */
}

.iconos-sociales a {
    color: #ccc;
    transition: color var(--transicion-media), transform var(--transicion-media);
    display: inline-block;
    margin: 0 0.5rem; /* Espaciado entre iconos */
}

.iconos-sociales a:hover, .iconos-sociales a:focus {
    color: var(--primario);
    transform: scale(1.2); /* Efecto de zoom */
    outline: none;
}


/* Botón Flotante */
.boton-flotante {
    position: fixed;
    bottom: 1.875rem; 
    right: 1.875rem; 
    background-color: var(--primario);
    color: var(--oscuro);
    border-radius: 50%;
    width: 55px;
    height: 55px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: var(--sombra-profunda);
    z-index: 9999;
    transition: background-color var(--transicion-media), transform var(--transicion-media), box-shadow var(--transicion-media);
    text-decoration: none;
    animation: pulso 2s infinite;
}

.boton-flotante:hover, .boton-flotante:focus {
    background-color: #FFD966;
    transform: scale(1.1);
    animation: none; /* Detener pulso en hover/focus */
    box-shadow: var(--sombra-media);
    outline: none;
}

.boton-flotante i {
    color: var(--oscuro);
}


@keyframes pulso {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 199, 44, 0.7), var(--sombra-profunda);
    }
    70% {
        box-shadow: 0 0 0 1.25rem rgba(255, 199, 44, 0), var(--sombra-profunda); /* 20px */
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 199, 44, 0), var(--sombra-profunda);
    }
}


/* -------------------------------- */
/*Fin código Footer - Pie de Página */
/* -------------------------------- */




/* -------------------------------- */
/* Inicia Estilo Energía Solar */
/* -------------------------------- */

.tipos-energia {
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: var(--sombra);
    transition: transform 0.3s ease;
    height: 100%;
}

.tipos-energia:hover {
    transform: translateY(-5px);
}

.tipos-energia h2{
    color: var(--primario);
    margin-bottom: 1rem;
    font-size: 2.5rem; 
}

.tipos-energia h3, h4, h5 {
    font-size: 1.7rem;
    line-height: 2.5rem;;
    color: var(--color-verde);
    padding: 10px 0 10px;
    font-weight: bold;
}

.tipos-energia p {
    font-size: 1.4rem;
    color: var(--gris-texto);
    padding: 10px;
    text-align: center;
}


.tipos-energia img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.tarjeta {
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    overflow: hidden;
}

.tarjeta img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: .5rem;
}

.cuerpo-tarjeta {
    padding: 1rem;
}

.main-content-graficos {
	padding: 20px;
}

.grafico{
    padding: 1rem 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	line-height: 100%;
}


canvas{
    width: 100% !important;
    height: auto !important;
    display: block;
    margin: 0 auto;
    max-height: 350px;
}

.fuente-grafico a{
    text-decoration: none;
    color: var(--color-texto3);
}
.fuente-grafico a:hover{
    text-decoration: none;
    color: var(--color-secundario);
}

.icono-titilante {
    animation: titilar 1.5s infinite;
}

.icono-titilante:hover {
    animation: none;
    opacity: 1;
    transform: scale(1.2);
}




/* -------------------------------- */
/* Termina Estilo Energía Solar */
/* -------------------------------- */


/* -------------------------------- */
/* Inicia Estilo Aprende e Involúcrate */
/* -------------------------------- */

    .pagina-aprende {
        margin: 0;
        font-family: var(--fuente);
        background-color: var(--claro);
        color: var(--oscuro);
        line-height: 1.6;
    }
    
    .pagina-aprende section {
        max-width: 1260px;
        margin: 0 auto;
    }
    
    .pagina-aprende section h2 {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: bold;
        color: var(--oscuro);
        
        font-size: 2.3rem; /* 40px */
    }
    
    /* Estilos para enlaces (submenús educativos) */
    .grid-submenu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        margin-top: 2rem;
        
    }

    .submenu-enlace {
        display: block;
        padding: 1rem;
        background-color: var(--blanco);
        border: 2px solid var(--eolica);
        color: var(--eolica);
        text-align: center;
        font-weight: 600;
        text-decoration: none;
        border-radius: var(--borde-radius);
        transition: all 0.3s ease-in-out;
        box-shadow: var(--sombra);     
    
    }

    .submenu-enlace:hover,
    .submenu-enlace:focus {
        background-color: var(--eolica);
        color: var(--blanco);
        transform: translateY(-2px);
    }
    /* Galería */
    .galeria-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
        margin-top: 2rem;
    }
    
    .galeria-item {
        background: var(--blanco);
        border-radius: var(--borde-radius);
        overflow: hidden;
        box-shadow: var(--sombra);
        transition: transform 0.3s;
    }
    
    .galeria-item:hover {
        transform: translateY(-5px);
    }
    
    .galeria-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        
    }
    .galeria-item h3 {
        text-align: center;
        color: var(--oscuro);
        font-weight: bold;
    }
    .galeria-item p {
        text-align: center;
        font-weight: 500;
    }
    
    /* Infografías */
    .infografias-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 1.5rem;
    }
    
    .infografia-item img {
        width: 100%;
        border-radius: var(--borde-radius);
        box-shadow: var(--sombra);
    }
    
    /* FAQ */
    .item-pregunta {
        background: var(--blanco);
        border-radius: var(--borde-radius);
        box-shadow: var(--sombra);
        overflow: hidden;
        transition: all 0.3s ease;
        margin: 0 auto 2rem auto;
    }
    
    .pregunta {
        background: var(--gris-azulado-muy-claro);
        padding: 1rem 1.5rem;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .respuesta {
        padding: 1rem 1.5rem;
        display: none;
        border-top: 1px solid var(--color-texto2);
    }
    
    .item-pregunta.activo .respuesta {
        display: block;
    }


    /* Glosario */
    #glosario {
        border-radius: var(--borde-radius);
        padding: 1.5rem 2.5rem 2.5rem 2.5rem;
    }
    #glosario ul {
        list-style: none;
        padding-left: 0;
    }
    
    #glosario li {
        background: var(--blanco);
        padding: 1rem;
        margin-bottom: 1rem;
        border-left: 5px solid var(--solar);
        box-shadow: var(--sombra);
        border-radius: var(--borde-radius);
    }
    
    /* Comunidad y programas */
    

    #comunidad img {
        width: 100%;
        height: auto;
        border-radius: var(--borde-radius);
        box-shadow: var(--sombra);
    }

    .programa-tarjeta {
        background: var(--blanco);
        padding: 1.5rem;
        border-radius: var(--radio-borde-medio);
        margin-bottom: 1.5rem;
        box-shadow: var(--sombra-suave);
        border-left: 4px solid var(--primario);
        transition: transform var(--transicion-media);
    }

    .programa-tarjeta:hover {
        transform: translateY(-5px);
    }

    .programa-tarjeta h3 {
        color: var(--eolica);
        margin-bottom: 0.75rem;
    }

    .programa-tarjeta a {
        color: var(--eolica);
        text-decoration: none;
        font-weight: 600;
        transition: color var(--transicion-media);
    }

    .programa-tarjeta a:hover {
        color: var(--oscuro);
    }

    .seccion-llamado-accion {
        background-color: var(--gris-azulado-muy-claro);
        text-align: center;
    }

    .seccion-llamado-accion h2 {
        font-size: 2.5rem; /* 40px */
        margin-bottom: 1.25rem; /* 20px */
        color: var(--oscuro);
    }

    .seccion-llamado-accion p {
        margin: 0 auto 1.875rem auto; /* 30px */
        color: var(--gris-texto-suave);
    }

/* -------------------------------- */
/* Termina Estilo Aprende e Involúcrate */
/* -------------------------------- */



/* -------------------------------- */
/* Inicia Estilo Nosotros */
/* -------------------------------- */

.fondo-claro {
    background-color: var(--gris-azulado-muy-claro);
}

.item-servicio {
    background-color: var(--blanco);
    border-radius: var(--radio-borde-medio);
    box-shadow: var(--sombra-media);
    height: 100%; 
}

.item-servicio h3 {
    color: var(--primario);
    margin-bottom: 1rem;
    font-size: 2.5rem; 
}

.item-caracteristica {
    background-color: var(--blanco);
    padding: 2.5rem; 
    border-radius: var(--radio-borde-medio);
    box-shadow: var(--sombra-media);
    margin-bottom: 1.25rem;
    transition: transform var(--transicion-media), box-shadow var(--transicion-media);
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.equipo-card:hover, .item-servicio:hover, .item-servicio:focus-within, .item-caracteristica:hover, .item-caracteristica:focus-within {
    transform: translateY(-5px);
    box-shadow: var(--sombra-profunda);
}

.item-caracteristica i {
    color: var(--primario);
    margin-bottom: 1rem;
}

.item-caracteristica h3 {
    color: var(--oscuro);
    margin: 10px 0;
    font-weight: bold;
}

.equipo-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.equipo-card h3 {
    font-size: 1.6rem;
}
.equipo-card img {
    height: 350px;
    object-fit: cover;
}



/* -------------------------------- */
/* Termina Estilo Nosotros */
/* -------------------------------- */



/* -------------------------------- */
/* Inicia Estilo Contáctenos */
/* -------------------------------- */


/* Estilos para la página de Contacto */


.pagina-contacto .info-contacto,
.pagina-contacto .formulario-contacto{
    background-color: var(--blanco);
    border-radius: var(--radio-borde-medio);
    box-shadow: var(--sombra-media);
    height: 100%; 
}

.pagina-contacto .info-contacto h2,
.pagina-contacto .formulario-contacto h2 {
    font-size: 2.5rem; /* 32px */
    margin-bottom: 1.875rem; /* 30px */
    color: var(--oscuro);
    text-align: center;
    font-weight: bold;
}

.pagina-contacto .info-contacto p {
    font-size: 1.5rem; /* ~17.6px */
    margin-bottom: 1rem; /* 16px */
    color: var(--gris-texto-suave);
    display: flex;
    align-items: center;
}

.pagina-contacto .info-contacto p i {
    font-size: 1.5rem; /* 24px */
    margin-right: 1rem; /* 16px */
    color: var(--primario);
    width: 24px; /* Ancho fijo para alineación */
    text-align: center;
}
.info-contacto p a {
    color: var(--oscuro);
    text-decoration: none;
    transition: color var(--transicion-media);
}	
.pagina-contacto .iconos-sociales-contacto {
    display: flex;
    gap: 1.25rem; /* 20px */
    margin-top: 1.5rem; /* 24px */
    justify-content: center;
}

.pagina-contacto .iconos-sociales-contacto a {
    color: var(--oscuro);
    font-size: 1.8rem; /* ~29px */
    transition: color var(--transicion-media), transform var(--transicion-media);
    display: inline-block;
}

.pagina-contacto .iconos-sociales-contacto a:hover,
.pagina-contacto .iconos-sociales-contacto a:focus {
    color: var(--primario);
    transform: scale(1.1);
    outline: none;
}

.pagina-contacto input, .pagina-contacto textarea{
    font-size: 1.2rem;
}


/* -------------------------------- */
/* Inicia Estilo Contáctenos */
/* -------------------------------- */




/* =============================== */
/* Medidas Responsive Dispositivos */
/* =============================== */



@keyframes titilar {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.4; }
}




@media screen and (min-device-width: 961px) and (max-device-width: 1260px) { 
    
    .item-pregunta {
        max-width: 90%;
    }
    .seccion-historicos h2{
        margin-bottom: 30px;
    }

    .seccion-historicos, .seccion-calculadora {
        padding: 40px 0;
    }
    .tarjeta-caracteristica{
        
        padding: 20px !important;

    }
    .seccion-historicos .tarjeta-historicos h3, .tarjeta-caracteristica h3 {
        font-size: 2rem;
        margin: 15px 0;
    }

    .seccion-historicos .tarjeta-historicos p, .tarjeta-caracteristica p{
        font-size: 1.6rem;
    }


        /* Pagina Aprende e Involucrate */

    .grid-submenu{
        padding: 0 15px;
    }
    .seccion-quienes-somos{
        padding: 10px 15px 25px;
    }

    /* Pagina Aprende e Involucrate */

}



@media screen and (min-device-width: 769px) and (max-device-width: 960px) {


/* Pagina de Inicio */


    .contenido-diapositiva h2 {
        font-size: 2.5rem;
    }
    .contenido-diapositiva p {
        padding: 15px;
        font-size: 1.65rem; 
    }


    .botones-pagina-1 .boton, .botones-pagina-2 .boton-2{
        font-size: 1.3rem;
    }

    .diapositiva .contenido-diapositiva{
        padding: 30px;
        width: 80%;
    }

    .contenido-bienvenida p {
        padding: 10px 20px;
        font-size: 1.5rem;
    }

    
    .seccion-historicos h2{
        margin-bottom: 30px;
    }

    
/* Pagina de Inicio */


    /* Pagina Aprende e Involucrate */

    .grid-submenu{
        padding: 0 15px;
    }

    .grid-submenu a{
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    /* Pagina Aprende e Involucrate */



/* Pagina Nosotros */

    .seccion-quienes-somos{
        padding: 10px 0 40px;
    }
    .seccion-quienes-somos p{
        font-size: 1.45rem !important;
    }


/* Pagina Nosotros */

    /* Clase de items del menu (etiqueta a) en tablets y móviles */
    .navbar-nav .nav-link {
        color: var(--color-texto2);
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px 20px;
        margin: 4px 0;
        border-radius: 6px;
        transition: all 0.3s ease;
        display: block;
        text-align: center;
        font-weight: 500;
        
    }
    /* Clase de efecto de item del menu (etiqueta a) en tablets y móviles */
    .navbar-nav .nav-link:hover{        
        background-color: var(--color-texto2);
        color: var(--color-azul);
    }
    /* Clase estilo item del menu (etiqueta a) Menu Activo en tablets y móviles */
    .navbar-nav .nav-link.active {
        color: var(--color-azul);
        background-color: var(--color-texto2);
        font-weight: bold;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    /* Desactivación de Linea de efecto subrayado en items del menu (etiqueta a) */
    .navbar-nav .nav-link:after {
        content: none !important;
    }
    /* Espaciado de contenedor de div subnav */
    .navbar-collapse {
        margin: 20px 0;
    }




}





@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    

/* Pagina de Inicio */
    .botones-pagina-1 .boton, .botones-pagina-2 .boton-2{
        font-size: 1.3rem;
    }

    .diapositiva .contenido-diapositiva{
        padding: 30px;
        width: 80%;
    }

    .contenido-diapositiva h2{
        font-size: 1.8rem;
    }

    .contenido-diapositiva p {
        font-size: 2.5rem;
    }

    .contenido-bienvenida p {
        padding: 10px 20px;
        font-size: 1.5rem;
    }

    .call-to-action h2, .call-to-action p{
        text-align: center;
    }

    .seccion-historicos h2{
        margin-bottom: 30px;
    }

    .seccion-historicos, .seccion-calculadora {
        padding: 40px 0;
    }
    .tarjeta-caracteristica{
        
        padding: 20px !important;

    }
    .seccion-historicos .tarjeta-historicos h3, .tarjeta-caracteristica h3 {
        font-size: 1.8rem;
        margin: 15px 0;
    }

    .seccion-historicos .tarjeta-historicos p, .tarjeta-caracteristica p{
        font-size: 1.5rem;
    }
    .tarjeta-calculadora{
        padding: 20px !important;
    }
    .seccion-logos {
        padding: 20px !important;
    }

/* Pagina de Inicio */

.seccion-energia{
    padding: 0px 15px;
}



/* Pagina Energia Solar */

.item-historicos h4{
    padding: 0;
}
.item-historicos p{
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
    padding: 5px 0;
}

.fuente-grafico{
    font-size: 1.3rem;
    margin-top: 10px;
}

/* Pagina Energia Solar */
    

/* Pagina Aprende e Involucrate */

.grid-submenu, .galeria-grid, .infografias-grid, #comunidad, #programas-gobierno{
    padding: 0 15px;
}

.grid-submenu a{
    font-size: 1.3rem;
    line-height: 1.5rem;
}

/* Pagina Aprende e Involucrate */

/* Pagina Nosotros */

.seccion-quienes-somos, .pagina-aprende, .seccion-valores, .seccion-valores, .seccion-equipo {
    padding: 0 15px;
}

.seccion-quienes-somos{
    padding: 10px 15px 25px;
}

.seccion-quienes-somos p{
    font-size: 1.6rem !important;
}
.seccion-quienes-somos img{
    margin-bottom: 20px
}

.equipo-card img {
    height: 450px;
    padding: 20px;
    object-fit: cover;
}

/* Pagina Nosotros */




/* Seccion Footer */
    .iconos-sociales{
        text-align: center !important;

    }

    /* Seccion Footer */


    
    .tarjeta-calculadora, .tarjeta-testimonio, .tarjeta-articulo {
        padding: 1.25rem; /* 20px */
    }
    .tarjeta-calculadora h3{
        font-size: 1.5rem; /* 24px */
        margin-bottom: 1.25rem; /* 20px */
    }

    .item-pregunta {
        max-width: 90%;
    }

    
    .contenedor-mapa-pequeno, .contenedor-mapa-grande {
        height: 18.75rem; /* 300px */
    }

}

@media only screen and (max-device-width: 480px) {

/* Pagina de Inicio */
    .botones-pagina-1 .boton, .botones-pagina-2 .boton-2{
        font-size: 1.3rem;
    }

    .diapositiva .contenido-diapositiva{
        padding: 30px;
        width: 80%;
    }

    .contenido-diapositiva h2{
        font-size: 1.8rem;
    }

    .contenido-diapositiva p {
        font-size: 2.5rem;
    }

    .contenido-bienvenida p {
        padding: 10px 20px;
        font-size: 1.5rem;
    }

    .call-to-action h2, .call-to-action p{
        text-align: center;
    }
    .seccion-historicos, .seccion-calculadora {
        padding: 40px 0;
    }
    .seccion-historicos .tarjeta-historicos, .tarjeta-caracteristica{
        margin: 0 15px;
    }
    .seccion-historicos .tarjeta-historicos h3, .tarjeta-caracteristica h3 {
        font-size: 1.8rem;
        margin: 15px 0;
    }

    .seccion-historicos .tarjeta-historicos p, .tarjeta-caracteristica p{
        font-size: 1.5rem;
    }
    .tarjeta-calculadora{
        padding: 20px !important;
    }
    .seccion-logos {
        padding: 20px !important;
    }

/* Pagina de Inicio */

.seccion-energia{
    padding: 0px 15px;
}



/* Pagina Energia Solar */

.item-historicos h4{
    padding: 0;
}
.item-historicos p{
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
    padding: 5px 0;
}

.fuente-grafico{
    font-size: 1.3rem;
    margin-top: 10px;
}

/* Pagina Energia Solar */
    

/* Pagina Aprende e Involucrate */

.grid-submenu, .galeria-grid, .infografias-grid, #comunidad, #programas-gobierno{
    padding: 0 15px;
}

.grid-submenu a{
    font-size: 1.3rem;
    line-height: 1.5rem;
}

/* Pagina Aprende e Involucrate */

/* Pagina Nosotros */

.seccion-quienes-somos, .pagina-aprende, .seccion-valores, .seccion-valores, .seccion-equipo {
    padding: 0 15px;
}

.seccion-quienes-somos{
    padding: 10px 15px 25px;
}

.seccion-quienes-somos img{
    margin-bottom: 20px
}

.equipo-card img {
    height: 450px;
    padding: 20px;
    object-fit: cover;
}

/* Pagina Nosotros */




/* Seccion Footer */
    .iconos-sociales{
        text-align: center !important;

    }

    /* Seccion Footer */


}
